@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(192, 174, 201, 0.8);
}

.first_section {
    display: flex;
    justify-content: start;
    align-items: center;
}

h1 {
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.text_p{
    margin: 15px 30px 45px 30px;
}

#skills {
    margin: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    /*justify-content: flex-end;*/
    align-items: center;
    padding: 30px, 10%;
}


.logo{
    width: min(10vw, 80px);
    height: auto;
    cursor: pointer;
    /*margin-right: auto;
    order: 3;
    margin-left: auto;*/
}

/*
nav{
    order:1
}*/

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

/*
.nav_links li:nth-child(1){
    padding: 0 20px 0 0;
}*/

.nav_links li a{
    transition: all color pink 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #3e00a9;
}

.cta{
    order: 2;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(191, 129, 227);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover {
    background-color: rgba(93, 0, 169, 0.8);
    transition: color rgb(75, 28, 75) 0.3s linear;
}


.profile_pic {
    margin: 20px;
    width: min(50vw, 120px);
    height: auto;
    border-radius: 45%;
    border-color: black;
    border-style: double;
}


.content {
    width: 50%;
}

.wrapper {
    display: grid;
    place-items: start;
    height: 35vh;
    margin-left: 15px;
}

.content h2 {
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    opacity: .6;
    font-weight: 300;
}

.loading-bar {
    position: relative;
    height: 20px;
    width: 12em;
    border: 1;
    background: #2a2a2a;
    border-radius: 50px;
}

span {
    display: block;
    position: relative;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #fff, #c671e2 30%);
    overflow: hidden;
}

span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px, 50px;
    overflow: hidden;
}

#span_html {
    width: 80%;
}

#span_css {
    width: 75%;
}

#span_js {
    width: 60%;
}

#span_react {
    width: 50%;
}

.loading-bar>span:after,
.animate>span>span {
    animation: load 9s infinite;
}


.form_container {
    display: grid;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.1;
    margin: 0px 15px 20px 15px;
    padding-top: 5em;
}

.pool {
    margin-bottom: 15px;
}

input[type="radio"], input[type=checkbox] {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.50em solid currentColor;
    border-radius: 50%;
    transition: 120ms transform ease-in-out;
    cursor: pointer;
}

.button_enviar {
    margin-top: 15px;
    width: 18%;
    height: 2em;
    border-radius: 40vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #cda3dc;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:radial-gradient(pink, rgb(178, 113, 178), white);
    width: 20%;
    margin-bottom: 15px;
    border-radius: 2em;
}

.em_footer{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: transparent;
}

/*
.rrss_links {
    display: flex;
    justify-content: end;
}*/





@keyframes load{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 50px 50px;
    }
}


@media screen and (min-width: 950px){
    header {
        opacity: 0.8;
    }
}
